name: Building and deploying Springcraft

on:
  release:
    types: 
    - published
  workflow_dispatch: {}

jobs:
  build-distribution:
    name: Building distribution

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: springcraft-dev
          auto-update-conda: true
          python-version: "3.13"
      - name: Installing dependencies
        run: conda install -c conda-forge poetry
      - name: Building distributions
        run: poetry build
      - uses: actions/upload-artifact@v4
        with:
          name: Springcraft distribution
          path: dist/*
          if-no-files-found: error
  
  
  build-doc:
    name: Building documentation
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: springcraft-dev
          auto-update-conda: true
          python-version: '3.9'
          environment-file: environment.yml
          mamba-version: "*"
      - name: Installing Springcraft
        run: pip install .
      - name: Building documentation
        run: sphinx-build ./doc ./build/doc
      - name: Zipping documentation
        run: cd ./build; zip -r doc.zip doc; cd ..
      - uses: actions/upload-artifact@v4
        with:
          name: Springcraft documentation
          path: build/doc.zip
          if-no-files-found: error
