name: Testing Springcraft

on: [push, pull_request]

jobs:
  test:
    name: Testing

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: springcraft-dev
          auto-update-conda: true
          python-version: '3.10'
      - name: Installing dependencies
        run: conda install -c conda-forge poetry prody pytest r-bio3d rpy2 scipy<=3.13.1
      - name: Building distribution
        run: poetry build -f wheel
      - name: Installing distribution
        run: pip install ./dist/*.whl
      - name: Testing code
        run: pytest
